# PORT
PORT=3000

# MongoDB credentials
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_password
MONGO_INITDB_DATABASE=expenseflow

# MongoDB connection string
MONGO_URI=mongodb://admin:your_password@mongo:27017/your_database_name?authSource=admin

# JWT 
JWT_SECRET_KEY=your_jwt_secret_key